/* @bxrlin | Kalos Lazo */

/*===: root :===*/
/* Change with your colorscheme colors ;)  */
:root {
  --bg-dark-01: #0e0e0e;
  --bg-dark-02: #16161c;
  --bg-dark-03: #5b5858;
  --bg-dark-04: #3d3d3d;
  --bg-dark-05: #505050;
  --bg-dark-05: #636363;

  --bg-white-02: #d5d8da;
  --bg-white-03: #b8bfe5;
  --bg-white-01: #d5d8da;
  --bg-white-04: #f5f5f5;

  --col-red-01: #ec6a88;
  --col-red-02: #ec6a88;
  --col-red-03: #ec6a88;

  --col-light-orange-01: #fab795;
  --col-light-orange-02: #fab795;
  --col-light-orange-03: #fab795;

  --col-purple-01: #ee64ac;
  --col-purple-02: #ee64ac;
  --col-purple-03: #ee64ac;

  --col-yellow-01: #fbc3a7;
  --col-yellow-02: #fbc3a7;
  --col-yellow-03: #fbc3a7;

  --col-green-01: #29d398;
  --col-green-02: #29d398;
  --col-green-03: #29d398;

  --col-sky-blue-01: #3fc4de;
  --col-sky-blue-02: #3fc4de;
  --col-sky-blue-03: #3fc4de;

  --ff-mono: "JetBrainsMono Nerd Font";
  --ff-weight-base: 400;
}

/*===: general :===*/
* {
  margin: 0;
  padding: 0;
  font-family: var(--ff-mono);
  font-weight: var(--ff-weight-base);
  box-sizing: border-box;
}
a {
  color: var(--bg-white-03);
  font-style: normal;
  text-decoration: none;
}
a:hover {
  color: var(--col-red-01);
  text-decoration: underline;
}

/*===: helpers :===*/
.flex {
  display: flex;
  align-items: center;
}
.text-center {
  text-align: center;
}

/*===: body :===*/
body {
  width: 100%;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2em;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  color: var(--bg-white-01);
  background-color: var(--bg-dark-01);
}

/*===: top section :===*/
#section_top_info {
  width: 100%;
  margin: 1em 0em;
  padding: 2.2em 0em;
  justify-content: space-evenly;
  letter-spacing: 0.1rem;
}
#time_welcome h3,
#date_weather h3 {
  font-size: 3.2em;
  font-weight: bold;
}
#time_welcome h5,
#date_weather h5 {
  margin-top: 0.5em;
  font-size: 1.2em;
}

/*===: bottom section :===*/
#section_bottom_links {
  width: 100%;
  margin: 1em 0em;
  gap: 1em;
  justify-content: center;
}
.generic_link {
  width: 100%;
  padding: 1.1em 1.1em;
  background: var(--bg-dark-02);
}

/*===: middle section :===*/
#section_middle_search {
  width: 100%;
  justify-content: center;
  padding: 1em 2em;
  background-color: var(--bg-dark-02);
}
.terminal-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.terminal-form label {
  width: auto;
  margin-right: 1em;
}
.terminal-form input[type="text"] {
  border: none;
  flex-grow: 1;
  background-color: var(--bg-dark-02);
  color: var(--bg-white-01);
}
.terminal-form input[type="text"]:focus {
  outline: none;
}

/*===: prompt section :===*/
.prompt_link {
  margin-bottom: 0.5em;
}
.res_prompt {
  margin-left: 1.5em;
}
.res_folder {
  color: var(--col-purple-01);
}

/*===: global colors section :===*/
.col-01 {
  color: var(--col-red-01);
}
.col-02 {
  color: var(--col-sky-blue-02);
}
.col-03 {
  color: var(--col-purple-01);
}
.col-04 {
  color: var(--col-yellow-01);
}
